@using System.Linq

@{
    var account =
    from nv in (List<QuanLyHoSo.ViewModel.ViewExcelNhanVien>)ViewBag.listAccount
    where nv.HoTen != null &&
          nv.UserName != null &&
          nv.Password != null &&
          nv.MaKieu != null &&
          nv.SDT != null &&
          nv.Email != null
    join k in (List<QuanLyHoSo.Models.KieuNhanVien>)ViewBag.listKnd
    on nv.MaKieu equals k.MaKieu
    select new
    {
        nv.HoTen,
        nv.UserName,
        nv.Password,
        nv.TrangThai,
        nv.SDT,
        nv.Email,
        nv.NgaySinh,
        nv.AnhDaiDien,
        nv.GioiTinh,
        nv.DiaChi,
        nv.QueQuan,
        nv.CongTy,
        nv.ChucVu,
        nv.TieuSu,
        k.TenKieu
    };
}
<table class="table table-striped table-light table-bordered DisplayName w-100 table-hover">
    <tr>
        <th>
            Họ tên
        </th>
        <th>
            Tên tài khoản
        </th>
        <th>
            Mật khẩu
        </th>
        <th>
            Kiểu người dùng
        </th>
        <th>
            Trạng thái
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            Email
        </th>
        <th>
            Ngày sinh
        </th>
        <th>
            Ảnh đại diện
        </th>
        <th>
            Giới tính
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Quê quán
        </th>
        <th>
            Công ty
        </th>
        <th>
            Chức vụ
        </th>
        <th>
            Tiểu sử
        </th>
    </tr>
    @foreach (var item in account)
    {
        <tr>
            <td style="max-width:200px">
                @item.HoTen
            </td>
            <td>
                @item.UserName
            </td>
            <td>
                @item.Password
            </td>
            <td>
                @item.TenKieu
            </td>
            @if (@item.TrangThai == 1)
            {
                <td>
                    <div class="form-check form-switch">
                        <input class="form-check-input excelCheckbox" type="checkbox" checked>
                    </div>
                </td>
            }
            else
            {
                <td>
                    <div class="form-check form-switch">
                        <input class="form-check-input excelCheckbox" type="checkbox">
                    </div>
                </td>
            }
            <td>
                @item.SDT
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.NgaySinh
            </td>
            <td>
                <img id="" src="@item.AnhDaiDien" alt="" style="max-width:100px">
            </td>
            @if (@item.GioiTinh == 1)
            {
                <td>Nữ</td>
            }
            else
                if (@item.GioiTinh == 2)
            {
                <td>Nam</td>
            }
            else
            {
                <td></td>
            }

            <td>
                @item.DiaChi
            </td>
            <td>
                @item.QueQuan
            </td>
            <td>
                @item.CongTy
            </td>
            <td>
                @item.ChucVu
            </td>
            <td>
                @item.TieuSu
            </td>
        </tr>
    }
</table>

@*@foreach (var item in ViewBag.listAccount)
    {
        <tr>
            <td>
                @Html.DisplayName()
            </td>
            <td>
                @Html.DisplayName(item.UserName)
            </td>
            <td>
                @Html.DisplayName(item.Password)
            </td>
            <td>
                @Html.DisplayName(item.Quyen)
            </td>
            <td>
                @Html.DisplayName(item.TrangThai)
            </td>
            <td>
                @Html.DisplayName(item.SDT)
            </td>
            <td>
                @Html.DisplayName(item.Email)
            </td>
            <td>
                @Html.DisplayName(item.NgaySinh)
            </td>
            @if (item.GioiTinh == 1)
            {
                <td>
                    Nam
                </td>
            }
            else
            {
                <td>
                    Nữ
                </td>
            }

            <td>
                @Html.DisplayName(item.DiaChi)
            </td>
            <td>
                @Html.DisplayName(item.QueQuan)
            </td>
            <td>
                @Html.DisplayName(item.CongTy)
            </td>
            <td>
                @Html.DisplayName(item.ChucVu)
            </td>
            <td>
                @Html.DisplayName(item.TieuSu)
            </td>
        </tr>
    }*@